@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  -webkit-scroll-behavior: smooth ;
  scroll-behavior: smooth ;
  overflow-x: hidden;
}

:root {
  font-family: 'Quicksand', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-color: #53f2b5;
  --darken-color: rgba(0, 0, 0, 0.35);
  --dark-text-color: cadetblue;
  --light-text-color: rgba(255, 255, 255, 0.87);
  --padding-s: 1rem;
  --padding-m: 5rem;
  --padding-l: 10rem;
  --max-w: 1200px

}

#name{
  color: var(--darken-color)
}

section{
  min-height: 100vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed white;
}

.section-heading{
  margin: var(--padding-m) 0 auto 0;
  width: 100%; 
  height: 100%;
  text-align: left
}

#projects-section{
  justify-content: flex-start;
}

nav{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(10px) saturate(110%);
  -webkit-backdrop-filter: blur(10px) saturate(110%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-s);
  z-index: 5;

}

nav a {
 color: var(--light-text-color);
 padding: var(--padding-s);
}

#navlinks{
 margin: auto 0;
 display: flex;
 justify-content: space-between;
 width: fit-content;
 gap: 1rem;
 overflow:auto;

}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--dark-text-color);
  transition: background-color 300ms linear;
  overflow: hidden
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: inherit;
  margin: auto;
  pointer-events: none;
  user-select: none;
}

p{
  font-size: 1.5rem;
  line-height: 1.5rem;
}

 #app {
  margin: 0 auto;
  text-align: center;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 


#hero {
  padding: var(--padding-s);
  width: 100%;
  max-width: var(--max-w);
  text-align: left;
  column-count: 2;
  column-gap: 3rem;
}

#hero > h1 {
  text-align: right;
}

#hero > p {
  max-width: 700px;
}

#pointer-container {
  position: absolute;
  bottom: var(--padding-l);
}

.point{
  display: inline-block;
}


.shadow{
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
}

#projects{
  max-width: 940px;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin: var(--padding-l) 0;
}

.card{
  padding: var(--padding-s);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  grid-column: span 3;
  gap: var(--padding-s);
  cursor: pointer;
  height:auto;
  max-width: fit-content;
  backdrop-filter: hue-rotate(65deg);
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.card  p, .links-container{
  text-align: left;
  display: none;
  line-height: 1.2;
  font-size: 1.2rem;
}

.card>div{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: max-content;
}

.card>div>h2{
  margin-right: auto;
}


.card > img {
  border-radius: 1rem;
  border: 1px solid white;
  width: 100%;
  max-width: 25rem;
  margin-right: auto;
}

.card.active  p, .card.active div.links-container {
  display:block
}

.card.active {
  grid-column: 1 / span 6;
  grid-row: 1;
  order: 0;
  height: auto;
  flex-direction: row;
}

.card.inactive{
  grid-column: span 2;
}

.links-container{
  position:absolute;
  bottom: var(--padding-s);
  right: var(--padding-s);
  height: auto;
  width: auto;
}

.links-container > a {
  margin: 0 var(--padding-s);
}

#icon-container{
  padding: var(--padding-m);
  margin-bottom: auto;
  display: flex;
  gap: var(--padding-m);
  justify-content: center;
  align-items: center ;
  flex-wrap: wrap ;
}

#icon-container img{
 
  border-radius: 1rem;
  height: 5rem;
  padding:var(--padding-s);
  width: auto;
}

.hover-effect{
  background: transparent;
  background: linear-gradient(to right, var(--darken-color) 50%, transparent 50%);
  background-position: 98% 100%;
  background-size: 205% 100%;
  transition: all .3s ease-in-out;

}

.hover-effect:hover{
  background-position: 195% 100%;
}

.pills-container {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.card.active .pills-container{
  width: 70%;
}

.card.inactive .pills-container{
  display: none;
}


.pill{
  background-color: var(--darken-color);
  border-radius: 6rem;
  padding: 0.3rem var(--padding-s);
}

@media only screen and (max-width: 940px ){
  :root{
    --padding-s: 1rem
  }

  section{
    padding: 0 var(--padding-s);
  }

  #hero{
    column-count: 1;
  }

  #hero > h1 {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }

  #projects{
    margin: var(--padding-m) 0;
    grid-template-columns: 1fr;
  }

  .card{
    margin:auto
  }

  .card.active {
    grid-column:  1;
    /* grid-row: 1; */
    order:initial ;
    height: auto;
    width: 100%;
    flex-direction: column;
  }

  .card.active > img {
    margin: auto;
  }

  .card.active  p {
    display: block
  }
  
  .card.inactive{
    grid-column: span 1;
  }

  .card>div{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .card>div>p{
    margin-bottom: 2rem;
  }

}

@media only screen and (max-width: 600px ){
  nav{
    bottom: 0;
    left: 0;
    top:auto;
  }

  #pointer-container {
    bottom: var(--padding-m);
  }


}