@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Quicksand', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#name{
  color: #53f2b5;
}

section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(10px) saturate(110%);
  /* background-color: rgb(100, 76, 255); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#navlinks{
 margin: auto 0;
 display: flex;
 justify-content: space-between;
 width: 50vw
}


a {
  font-weight: 500;
  color: #53f2b5;
  text-decoration: inherit;
}
a:hover {
  color: #53f2b5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(34, 1, 255, 0.7);
  transition: background-color 300ms linear;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: inherit;
  margin: auto;
  pointer-events: none;
  user-select: none;
}

p{
  font-size: 1.5rem;
  line-height: 1.5rem;
}

 #app {
  margin: 0 auto;
  text-align: center;
  z-index: 5;
} 
/* 
*{
  outline: 1px dotted red;
} */

#hero {
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  text-align: left;
  column-count: 2;
  column-gap: 3rem;
}

#hero > h1 {
  text-align: right;
}

#hero > p {
  max-width: 900px;
}

#projects{
  height:60%;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  color: #12543b;
  border-radius: 2rem;
}

.shadow{
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

@media only screen and (max-width: 900px ){
  #hero{
    column-count: 1;
    max-width: 90%;
  }

  #hero > h1 {
    text-align: left;

  }
}